/* src/style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Ensure html and body take full height */
html,
body,
#app {
  height: 100%;
  width: 100%;
}

/* Set default background colors for light and dark modes */
body {
  background-color: white;
  color: black;
}

.dark body {
  background-color: #1a202c; /* Tailwind's gray-800 */
  color: white;
}
